<div class="wrapper">

  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
      <div class="container">

        <button class="navbar-toggler" id="sidebarbtn" type="button" [routerLink]="['/home']">
          <i class="fas fa-arrow-left"></i>
        </button>

        <div class="mt-5">
          <span style="font-size:45px;">
            <strong>
              Credit Card
            </strong>
          </span>

        </div>
      </div>
    </nav>

    <form class="p-3" [formGroup]="createForm" (ngSubmit)="setCard()">

      <div>
        <div class="form-row">
          <div class="col">
            <div class="md-form mt-0">
              <input type="text" formControlName="cardNumber" class="form-control" placeholder="Card number">
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="md-form mt-0">
              <input type="text" formControlName="cardExpire" class="form-control" placeholder="Expires [MM/YY]">
            </div>
          </div>
        </div>


        <div class="form-row">
          <div class="col">
            <div class="md-form mt-0">
              <input type="password" formControlName="cardCvc" class="form-control" placeholder="CVC">
            </div>
          </div>
        </div>

        <!-- <div class="form-row">
        <div class="col">
          <div class="md-form mt-0">
            <input type="text"  class="form-control" placeholder="Name">
          </div>
        </div> -->


      </div>

      <!-- <div class="form-group mt-5">
        <select class="browser-default custom-select">
          <option selected>Country</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <div class="form-group mt-5">
        <select class="browser-default custom-select">
          <option selected>City</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <div class="md-form">
        <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
        <label for="form7">Address</label>
      </div> -->

      <div class="row p-2">
        <div class="col-6 text-left">
          <button [routerLink]="['/home']" type="button" class="btn btn-blue-grey w-100">CANCLE</button>
        </div>
        <div class="col-6 text-right">
          <button type="submit" class="btn btn-cyan w-100">APPLY</button>
        </div>
      </div>

    </form>

  </div>
</div>

<div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success modal-dialog-centered" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Success!!!</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
          <p>Ready to Service for you.</p>
        </div>
      </div>

    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Central Modal Medium Success-->
