<div class="text-center mt-5">
  <div class="authbtns">
    <button type="button" class="mr-5 btn btn-info btn-round">sign up</button>
    <button type="button" class=" ml-5 btn btn-info btn-round">sign in</button>
  </div>

  <div class="logo mb-5">
    <div class="logo-img">
      <img src="assets/logo.png">
    </div>
    <div class="logo-text">
      CADIT
    </div>
  </div>

  <div>
    <form>
      <fieldset>
        <div class="form-group">
          <input type="email" style="height: 45px" class="form-control mb-3" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Enter email">
          <input type="email" style="height: 45px" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary w-100" style="height: 45px">Submit</button>
        <p class="mt-2">
          <u>
            Forgot Email or Password?

          </u>
        </p>
        <p class="mt-2">
          <small>
            Forgot Email or Password?
          </small>
        </p>
      </fieldset>
    </form>
  </div>


</div>
