<div class="text-center mt-5">
  <div class="authbtns">

    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-info btn-round w-100" (click)="changeAuthForm('login')">sign in</button>

      </div>
      <div class="col-6">
        <button type="button" class=" btn btn-info btn-round w-100" (click)="changeAuthForm('register')">sign
          up</button>
      </div>

    </div>

  </div>
  <div class="login" *ngIf="authForm == 'login'">
    <div class="logo mb-5">
      <div class="logo-img">
        <img src="assets/logo.png">
      </div>
      <div class="logo-text" style="font-size:50px;">
        <strong>
          C A D I T
        </strong>
      </div>
    </div>

    <div>

      <form class="p-3 form-group" [formGroup]="createForm" (ngSubmit)="login()">

        <div class="form-row">
          <div class="col">
            <div class="md-form mt-0">
              <input type="text" class="form-control" formControlName="userId" placeholder="userId">
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <div class="md-form mt-0">
              <input type="text" class="form-control" formControlName="userPwd" placeholder="Password">
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100" style="height: 45px">CONTINUE</button>
        <p class="mt-2">
          <u>
            Forgot Email or Password?
          </u>
        </p>
        <p class="mt-2">
          <small>
            Powered By idiot-brothers
          </small>
        </p>


      </form>
    </div>
  </div>

  <!-- !!!!!!!!register!!!!!!!!! -->
  <!-- !!!!!!!!register!!!!!!!!! -->
  <div class="register mt-5" *ngIf="authForm =='register'">

    <p class="text-success" style="font-size: 26px;">
      <strong>
        Welcome to CADIT service!
      </strong>
    </p>
    <form class="p-3" [formGroup]="createForm" (ngSubmit)="register()" class="form-group">

      <div class="form-row">
        <div class="col">
          <div class="md-form mt-0">
            <input type="text" class="form-control" formControlName="userId" placeholder="Name">
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="md-form mt-0">
            <input type="text" class="form-control" formControlName="userEmail" placeholder="Email">
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="md-form mt-0">
            <input type="password" class="form-control" formControlName="userPwd" placeholder="Password">
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-9">
          <div class="md-form mt-0">
            <input type="text" class="form-control" formControlName="userPhone" placeholder="PhoneNumber">
          </div>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-success" (click)="sendCode()">SEND</button>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="md-form mt-0">
            <input type="text" class="form-control" formControlName="userCode" placeholder="Certification Number">
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100 mt-5" style="height: 45px">CONTINUE</button>

    </form>
  </div>
</div>
<!-- Central Modal Medium Success -->
<div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success modal-dialog-centered" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Register Success</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
          <p>Welcome to CADIT service !!</p>
        </div>
      </div>

    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Central Modal Medium Success-->
