  <div class="text-center" [ngClass]="{
    'login-root': authForm === 'login',
    'register-root': authForm === 'register'
  }" style="height: 100vh">
    <div class="authbtns" [ngClass]="{
      'login-root': authForm === 'login',
      'register-root': authForm === 'register'
    }">
      <div class="row">
        <div class="col-6 mt-4">
          <button type="button" class="custom-badge" [class.active]="authForm === 'login'"
            (click)="changeAuthForm('login')" style="float: right"
            [ngStyle]="{'color': authForm === 'login' ? 'white' : '#78849e'}">SIGN IN</button>
        </div>
        <div class="col-6 mt-4">
          <button type="button" class="custom-badge" [class.active]="authForm === 'register'"
            (click)="changeAuthForm('register')" style="float: left">SIGN UP</button>
        </div>
      </div>
    </div>



    <div class="login login-root mt-5" *ngIf="authForm == 'login'">
      <div class="logo mb-5">
        <div class="logo-img ">
          <img src="assets/logo.png" class="logo">
        </div>
        <div class="logo-text" style="font-size:50px;">
          CADIT
        </div>
      </div>
      <div>
        <form class="p-3 form-group" [formGroup]="createForm" (ngSubmit)="login()">

          <div class="form-row" style="margin-bottom: 20px;">
            <div class="col">
              <div class="mt-0 h-75">
                <input type="text" class="custom-input" formControlName="userId" placeholder="Email">
              </div>
            </div>
          </div>

          <div class="form-row" style="margin-bottom: 20px;">
            <div class="col">
              <div class="mt-0">
                <input type="password" class="custom-input" formControlName="userPwd" placeholder="Password">
              </div>
            </div>
          </div>

          <button type="submit" class="custom-button w-100">CONTINUE</button>

          <p class="mt-2" style="color: #707070">
            <u>
              Forgot Email or Password?
            </u>
          </p>
          <p class="mt-2" style="color: #707070">
            <small>
              Powered By idiot-brothers
            </small>
          </p>


        </form>
      </div>
    </div>

    <!-- !!!!!!!!register!!!!!!!!! -->
    <!-- !!!!!!!!register!!!!!!!!! -->
    <div class="register mt-5 register-root" *ngIf="authForm =='register'"
      style="background-image: url('assets/logo.png'); background-repeat: no-repeat; background-position-x: -108px;">
      <form class="p-3 form-group" [formGroup]="createForm" (ngSubmit)="register()" style="z-index: 1000">

        <div class="form-row" style="margin-bottom: 25px;">
          <div class="col">
            <div class="mt-0 h-75">
              <input type="text" class="custom-input" formControlName="userId" placeholder="Name"
                style="background: #ffffff; color: #5773ff; box-shadow: 0 15px 50px 0 rgba(213,216,228,.3);">
            </div>
          </div>
        </div>

        <div class="form-row" style="margin-bottom: 25px;">
          <div class="col">
            <div class="mt-0 h-75">
              <input type="text" class="custom-input" formControlName="userEmail" placeholder="Email"
                style="background: #ffffff; color: #5773ff; box-shadow: 0 15px 50px 0 rgba(213,216,228,.3);">
            </div>
          </div>
        </div>

        <div class="form-row" style="margin-bottom: 25px;">
          <div class="col">
            <div class="mt-0 h-75">
              <input type="password" class="custom-input" formControlName="userPwd" placeholder="Password"
                style="background: #ffffff; color: #5773ff; box-shadow: 0 15px 50px 0 rgba(213,216,228,.3);">
            </div>
          </div>
        </div>

        <div class="form-row" style="margin-bottom: 25px;">
          <div class="col-8">
            <div class="mt-0 h-75">
              <input type="password" class="custom-input" formControlName="userPhone" placeholder="Phone"
                style="background: #ffffff; color: #5773ff; box-shadow: 0 15px 50px 0 rgba(213,216,228,.3);">
            </div>
          </div>
          <div class="col-4">
            <button type="button" class="custom-button" style="width: 100%; background: #3acce1"
              (click)="sendCode()">SEND</button>
          </div>
        </div>

        <div class="form-row" style="margin-bottom: 25px;">
          <div class="col">
            <div class="mt-0 h-75">
              <input type="text" class="custom-input" formControlName="userCode" placeholder="Verify Code"
                style="background: #ffffff; color: #5773ff; box-shadow: 0 15px 50px 0 rgba(213,216,228,.3);">
            </div>
          </div>
        </div>

        <button type="submit" class="custom-button"
          style="background: #3acce1; width: 100%;height: 45px">CONTINUE</button>

      </form>
    </div>
  </div>
  <!-- Central Modal Medium Success -->
  <div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success modal-dialog-centered" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <p class="heading lead">{{modal.title}}</p>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>

        <!--Body-->
        <div class="modal-body">
          <div class="text-center">
            <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
            <p>Welcome to CADIT service !!</p>
          </div>
        </div>

      </div>
      <!--/.Content-->
    </div>
  </div>
  <!-- Central Modal Medium Success-->

  <!-- Central Modal Medium Info -->
  <div class="modal fade" id="centralModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <p class="heading lead">Check me</p>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>

        <!--Body-->
        <div class="modal-body">
          <div class="text-center">
            <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
            <p>We are create Verify Code For you.</p>
            <p>Please Check your phone and input Code.</p>
          </div>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!-- Central Modal Medium Info-->

  <ngx-ui-loader></ngx-ui-loader>
