<div class="wrapper">

  <nav v id="sidebar">
    <div class="sidebar-header">
      <h3>Kim Youngseo</h3>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a [routerLink]="['/home']">Home</a>
      </li>
      <li>
        <a [routerLink]="['/pdf']">List to PDF</a>
      </li>
      <li>
        <a [routerLink]="['/bank']">Payments</a>
      </li>
      <li>
        <a href="#">Help Center</a>
      </li>
      <li>
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">Privacy Policy</a>
      </li>
      <li class="mt-5">
        <a (click)="logout()">Log Out</a>
      </li>
    </ul>
  </nav>


  <div id="content" class="">

    <nav class="navbar navbar-expand-lg navbar-light text-center" style="background: #2a2e43; color: white">
      <div class="container">

        <button class="navbar-toggler" id="sidebarbtn" type="button" data-toggle="collapse"
          data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <img src="assets/nav-icon.png" style="
          cursor: pointer;" style="color: white !important;">
        </button>

        <div class="mt-5" style="padding-right: 20px">
          <span style="font-size:40px; font-weight: bold">
            Statistics
          </span>

        </div>
      </div>
    </nav>

    <div class="w-100 mb-3" style="background: white; height: 50px; box-shadow: 0 15px 50px 0 rgba(213,216,228,.3)">
      <button (click)="changeMode('today')" [class.change-mode-active]="isMode === 'today'" class="change-mode-btn"
        style="width: 33.4%; height: 100%">TODAY</button>
      <button (click)="changeMode('week')" [class.change-mode-active]="isMode === 'week'" class="change-mode-btn"
        style="width: 33.2%; height: 100%;">WEEK</button>
      <button (click)="changeMode('month')" class="change-mode-btn" [class.change-mode-active]="isMode === 'month'"
        style="width: 33.4%; height: 100%; ">MONTH</button>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title">
          <div class="text-left" style="font-size:50px; color: black;">
            <strong *ngIf="isMode == 'today'">
              ${{this.moneyService.today}}
            </strong>
            <strong *ngIf="isMode == 'week'">
              ${{this.moneyService.week}}
            </strong>
            <strong *ngIf="isMode == 'month'">
              ${{this.moneyService.month}}
            </strong>
            <span class="text-left lead" style="font-size:25px; color: gray; font-weight: bold">
              USD
            </span>
          </div>

        </div>


        <div>
          <div>
            <div style="display: block">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body" *ngFor="let data of todayAM" style="border-bottom: 1px solid #f4f4f6;">
        <div class="card-title">
          <div class="row" style="font-size:20px; color: black;">
            <div class="col-9">
              <strong class="text-left" style="color: #454f63">
                {{data.name}}
              </strong>
            </div>
            <div class="col-3">
              <div class="text-right point" style="color: #347b8a; font-weight: bold">
                ${{data.point}}
              </div>
            </div>
          </div>

          <div class="row" style="font-size:15px; color: #78849e;">
            <div class="col">
              {{data.time}} AM
            </div>
          </div>

          <div class="row" style="font-size:15px; color: #78849e;">
            <div class="col">
              Approved amount: ${{data.amount}} ({{data.persent}}%)
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body" *ngFor="let data of todayPM" style="border-bottom: 1px solid #f4f4f6;">
        <div class="card-title">
          <div class="row" style="font-size:20px; color: black;">
            <div class="col-9">
              <strong class="text-left" style="color: #454f63">
                {{data.name}}
              </strong>
            </div>
            <div class="col-3">
              <div class="text-right point" style="color: #347b8a; font-weight: bold">
                ${{data.point}}
              </div>
            </div>
          </div>

          <div class="row" style="font-size:15px; color: #78849e;">
            <div class="col">
              {{data.time}} AM
            </div>
          </div>

          <div class="row" style="font-size:15px; color: #78849e;">
            <div class="col">
              Approved amount: ${{data.amount}} ({{data.persent}}%)
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="p-2">
      <button type="submit" [routerLink]="['/withdraw']" class="custom-button"
        style="background: #3acce1; width: 100%; height: 45px">Withdraw</button>
    </div>

  </div>

</div>
