<div class="wrapper">

  <nav v id="sidebar">
    <div class="sidebar-header">
      <h3>Kim Youngseo</h3>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a [routerLink]="['/home']">Home</a>
      </li>
      <li>
        <a [routerLink]="['/pdf']">List to PDF</a>
      </li>
      <li>
        <a [routerLink]="['/bank']">Payments</a>
      </li>
      <li>
        <a href="#">Help Center</a>
      </li>
      <li>
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">Privacy Policy</a>
      </li>
      <li class="mt-5">
        <a (click)="logout()">Log Out</a>
      </li>
    </ul>
  </nav>


  <div id="content" class="">

    <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
      <div class="container">

        <button class="navbar-toggler" id="sidebarbtn" type="button" data-toggle="collapse"
          data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="mt-5">
          <span style="font-size:50px;">
            <strong>
              statistics
            </strong>
          </span>

        </div>
      </div>
    </nav>

    <div class="btn-group btn-group-justified w-100 mb-4">
      <button (click)="changeMode('today')" class="btn btn-secondary">TODAY</button>
      <button (click)="changeMode('week')" class="btn btn-secondary">WEEK</button>
      <button (click)="changeMode('month')" class="btn btn-secondary">MONTH</button>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title">
          <div class="text-left" style="font-size:50px; color: black;">
            <strong *ngIf="isMode == 'today'">
              ${{this.moneyService.today}}
            </strong>
            <strong *ngIf="isMode == 'week'">
              ${{this.moneyService.week}}
            </strong>
            <strong *ngIf="isMode == 'month'">
              ${{this.moneyService.month}}
            </strong>
            <span class="text-left lead" style="font-size:25px; color: gray;">
              USD
            </span>
          </div>

        </div>


        <div>
          <div>
            <div style="display: block">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body" *ngFor="let data of todayAM">
        <div class="card-title">
          <div class="row" style="font-size:20px; color: black;">
            <div class="col-9">
              <strong class="text-left">
                {{data.name}}
              </strong>
            </div>
            <div class="col-3">
              <div class="text-right point">
                ${{data.point}}
              </div>
            </div>
          </div>

          <div class="row" style="font-size:20px; color: grey;">
            <div class="col">
              {{data.time}} AM
            </div>
          </div>

          <div class="row" style="font-size:20px; color: grey;">
            <div class="col">
              Approved amount: ${{data.amount}} ({{data.persent}}%)
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body" *ngFor="let data of todayPM">
        <div class="card-title">
          <div class="row">
            <div class="col-9">
              <strong class="text-left">
                {{data.name}}
              </strong>
            </div>
            <div class="col-3">
              <div class="text-right point">
                ${{data.point}}
              </div>
            </div>
          </div>

          <div class="row" style="font-size:20px; color: grey;">
            <div class="col">
              {{data.time}} AM
            </div>
          </div>

          <div class="row" style="font-size:20px; color: grey;">
            <div class="col">
              Approved amount: ${{data.amount}} ({{data.persent}}%)
            </div>
          </div>
        </div>
      </div>
    </div>

    <button type="button" [routerLink]="['/withdraw']"
      class="btn btn-primary btn-lg btn-block mt-3 mb-3">Withdraw</button>

  </div>


</div>
